<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>title>
    <link rel="stylesheet" href="{%static 'website/style.css' %}">
</head>
<body>
    <h1>Welcome to the Meeting Organizer!</h1>
    <p>
        This is an application for the APC440 course.
        You can visit the course at <a href="uwosh.edu/canvas">APC 440</a>
    </p>
    <p>
        <h2>
        Current available meetings:
    </h2>
    </p>

    <img src="{%static 'website/calender.jpg' %}" width="100px">


    <ul>
        {% for m in meetings%}
            <li>
                    <a href="{% url 'detail' m.id %}">{{m.title}}</a>
            </li>
        {% endfor%}
    </ul>

</body>
</html>
